.menusection { }
.main-section{background-color: #d7ecfa; padding: 0 15px; height: 100vh;}
.addnewtaskform.container{max-width: 500px; margin: 0 auto; padding: 15px; border: 1px #000 solid; }
.spacer{height: 15px;}
.button.success, .button{color: #FFF;}
.important{background-color: #f4a0c4}
.normal{background-color: #00ff7f}
.low{background-color: #fee8a3}
.maybe{background-color: #FFF}
.highlight{padding: 2px 5px;}
.status{margin: 10px; border: 1px #AAA dashed; border-radius: 10px; padding: 10px; background-color: #FFF; text-align: center;}
.sempleTask{margin: 10px; border: 1px #AAA dashed; border-radius: 10px; padding: 10px;}
.tasklistNo.active{text-decoration: line-through;}
.tasklistNo{margin-bottom: 0;}